extend default

block content
  .main.container
    .col-md-6.col-md-offset-3
      h1.display-4.m-b-2 L'équipe
      // search form
      form#homeform(method='post' action='/bingpage')
        .mylabel
          label(for='type')  BING SEARCH
        div.form-group
          .mywrapper
            .myleft
              input#info.form-control(type='text' name='info', placeholder='Music Key Words')
            .myright
              button#mybutton.btn.btn-primary(type='submit') SEARCH

      table
        thead
          tr
            th SEARCH RESULT
        tbody
          - each item in rows
            tr
              td
                a(href = item.url)= item.name