doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title World Music Web
  body
    .header
      h1.page-title World Music Web

    ul.nav
      li: a(href='/') Home
      li: a(href='/find') Find
      li: a(href='/recommend') Recommend
      li: a(href='/addition') Addition

    .main-content
      block content

    .footer
      p Copyright © 2020 Futurecorpz. Futurecorpz ® is a Registered Trademark of Futures (un)Ltd. in the Mars Community and other solar systems.
