extend default

block content
  .main.container
    .col-md-6.col-md-offset-3
      h1.display-4.m-b-2 MUSIC

      table
        thead
          tr
            th Click the Song name to download the song
        tbody
          - each item in rows
            tr
              td= item.album_title + ':'
            tr
              td
                a(href = 'http://freemusicarchive.org/file/'+item.track_file)= item.track_title
                audio(controls='controls')
                  source(src='track.ogg', type='audio/ogg')
                  source(src='http://freemusicarchive.org/file/'+item.track_file, type='audio/mpeg')
