extend default

block content
  h1= title

  table
    thead
      tr
        th Top ten album of the searched genre
    tbody
      - each item in rows
        tr
          td= item.album_title
          td= item.track_url