extend default

block content
  p.
    ZABA, the debut studio album by GLASS ANIMALS.
  p.
    ZABA is primarily a psychedelic indie pop record. The album's sound is characterized by 
    obscure tropical percussion and jungle timbres. This musical motif reflects lead singer 
    David Bayley's exotic subject matter, which was inspired by the William Steig children's 
    book The Zabajaba Jungle.

  p.
    Throughout its composition, ZABA explores the concept of min- imalism, allowing the beats, 
    melodies, and lyrics to "speak for themselves".ZABA's songs are connected by self-described 
    "interludes" of echoed electronics, varied percussion, and smooth jazz, weaving them together 
    so that while each indivi- dual track is distinctive, the album "melts" into a single, mellow 
    groove.
