extend default

block content

  h1.display-4.m-b-2 'TREND
  .container
    .col-md-6.col-md-offset-3
      div(id="images1" method='POST')
        center
          a(href='/recommendmusic1')
            img(alt="img1", src="https://i1.sndcdn.com/artworks-000215448584-3upr1x-t500x500.jpg", width="160")
          a(href='/recommendmusic2')
            img(alt="img2", src="https://i1.sndcdn.com/artworks-000247653944-1oemm0-t500x500.jpg", width="160")
          a(href='/recommendmusic3')
            img(alt="img3" src="https://f4.bcbits.com/img/a3078045279_16.jpg", width="160")
          a(href='/recommendmusic4')
            img(alt="img4" src="https://i1.sndcdn.com/artworks-adGXloyEqavX-0-t500x500.jpg", width="160")
          a(href='/recommendmusic5')
            img(alt="img5" src="https://i1.sndcdn.com/artworks-000138313411-zd8szv-t500x500.jpg", width="160")
          a(href='/recommendmusic6')
            img(alt="img6" src="https://i1.sndcdn.com/artworks-000262932479-6poe4r-t500x500.jpg", width="160")
          a(href='/recommendmusic7')
            img(alt="img4" src="https://f4.bcbits.com/img/a2351616332_16.jpg", width="160")
          a(href='/recommendmusic8')
            img(alt="img5" src="https://t2.genius.com/unsafe/440x0/https%3A%2F%2Fimages.genius.com%2Fa3fb19b50bfb5b16fbccd9c6415d22e9.600x600x1.jpg", width="160")
          a(href='/recommendmusic9')
            img(alt="img6" src="https://f4.bcbits.com/img/a0269213152_16.jpg", width="160")