extend default

block content
  h1= title
  table
    thead
      tr
        th Users
        th Tweets
    tbody
      - each item in rows
          tr
            .mytd
              td= item.user
            .mytd
              td= item.text