@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Source Code Pro', monospace

.header
  background url('https://www.itsnicethat.com/system/files/062014/53a0471d5c3e3c74c1003182/images_slice_large/GAHERO.jpg')
  background-position center

  .page-title
    font-weight 200
    font-size 80px
    text-align center
    padding 100px
    text-transform uppercase
    color #fff

.nav
  background #000
  text-align center

  li
    display inline-block

  a
    display inline-block
    padding 20px
    color #fff
    text-decoration none

    &:hover
      background-color #3AB795
      text-decoration underline

.main-content

  margin 50px auto
  max-width 600px

  p
    line-height 1.6
    margin-bottom 1.7em

  select
    width 300px
    height 25px 
    margin-bottom 1.7em

  option
    font-size 15px
    height 25px

  form
    width 300px
    margin 50px auto
  
  a 
    color: #838385

  #homeform
    width 600px
    margin-left 2em
    position: relative
  
  input 
    width 300px
    margin-bottom 1.7em
    font-size 15px
    height 25px

  #info
    width 300px
    margin-bottom 1.7em
    font-size 15px
    height 25px

  button
    width 300px
    height 30px
    background-color #444
    color #fff

  .mywrapper
    width 425px
    margin-bottom 2em
    overflow hidden
  
  .myleft
    width 150px
    float left
    font-size 20px 
    height 30px

  .myright
    margin-left 1.5em
    width 120px
    float right
    height 30px

  #mybutton
    width 50 px
    height 30px
    background-color #444
    color #fff
    float right

  h1
    margin-bottom 2em
  img
    margin-right 0.6em
    margin-top 0.3em

  table
    margin-top 0.8em
    margin-bottom 1em

  .wrapper
    width 600px
    height 380px
    margin-bottom 2em
    overflow hidden

  .left
    margin-left 1em
    width 120px
    float left



  .right
    margin-right 2em
    width 380px
    float right

.footer
  margin 50px auto
  max-width 600px
  border-top 1px solid #444
  padding 20px 0

  p
    color #444
    font-size 12px